HOSTINGER_HOST=82.25.107.163
HOSTINGER_PORT=65002
HOSTINGER_USERNAME=u268110164
HOSTINGER_SSH_KEY=~/.ssh/cursor_mstc_auction_hostinger
HOSTINGER_REMOTE_DIR=/home/u268110164/domains/lightcyan-camel-979846.hostingersite.com/public_html/auctions
OPENROUTER_API_KEY=
OPENROUTER_MODEL=
OPENROUTER_FALLBACK_MODELS=
OPENROUTER_SITE_URL=
OPENROUTER_APP_NAME=
SITE_BASE_URL=
NOTIFY_WEBHOOK_URL=
