[Unit]
Description=Run MSTC VPS download worker every 10 minutes
Requires=mstc-download-worker.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
AccuracySec=1min
Persistent=true
Unit=mstc-download-worker.service

[Install]
WantedBy=timers.target
